<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />

    </startup>
  <appSettings>
    <add key="TargetReward" value="300"></add><!--Must be an int-->
    <add key="FailureReward" value="-300"></add><!--Must be an int-->
    <add key="BaseLearningRate" value="0.8"></add><!--Must be a float-->
    <add key="UIMode" value="console"></add><!--console or wpf-->
    <add key="Path" value="C:\temp\NEA"></add><!--Must be an int-->
  </appSettings>
</configuration>